- name: config save
  gather_facts: false
  hosts: all
  connection: local
  any_errors_fatal: true
  vars:
    provider:
      server: "{{ ansible_host }}"
      user: "{{ service_account_user }}"
      password: "{{ service_account_password }}"
      validate_certs: false
      server_port: 443

  tasks:
    - name: save config
      f5networks.f5_modules.bigip_config:
        save: true
        provider: "{{ provider }}"
